/* App.css */

@import url("https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap");

/* Your CSS rules here */
body {
  font-family: "Indie Flower", cursive;
  background-color: #008000;
}

.navbar-brand {
  font-size: 40px;
  margin-right: 10px;
  color: white;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 0;
}

.navbar-nav .nav-link {
  font-size: 30px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.navbar-toggler-icon {
  color: white !important;
}
